$color-back: #EEE;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-sign: #A00000;
$color-white: #FFF;
$ruler: 16px;

body {
	height: 100vh;
	margin: 0;
	position: relative;
	background-color: $color-bg;
	font-family: "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;
	font-weight: 600;
}

body, p, input, select, textarea, button {
	font-size: $ruler;
}

h1 {
	font-size: $ruler*1.5;
}

form {
	padding: $ruler*2;
	width: $ruler*20;
	margin: 0 auto;
}

div, p {
	color: $color-shadow;
	text-shadow: 1px 1px 1px $color-white;
}

.segment {
	padding: $ruler*2 0 0 $ruler;
	text-align: center;
}

button, input {
	padding: $ruler;
	border: 0;
	outline: 0;
	font-size: $ruler;
	background-color: $color-bg;
	border-radius: $ruler*2;
	text-shadow: 1px 1px 0 $color-white;
}

button {
	cursor: pointer;
	color: #61677C;
	font-weight: bold;
	box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
	transition: all 0.2s ease-in-out;

	&:hover {
		box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
	}

	&:active {
		box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
	}

	&.signin {
		display: block;
		width: 100%;

		div {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			color: $color-sign;

			span {
				flex-grow: 1;
				padding-right: $ruler;
			}
		}
	}
}

label {
	display: block;
	margin-bottom: $ruler*1.5;
	width: 100%;
}

input {
	margin-right: $ruler/2;
	box-shadow: inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
	width: 100%;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
	-webkit-appearance: none;

	&:focus {
		box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
	}
}

.block_center {
	position: absolute;
	bottom: 0;
	height: 420px;
	left: 0;
	right: 0;
	top: 0;
	width: 400px;
	margin: auto;
	background-color: $color-back;
	border-radius: $ruler*2;
	box-shadow: -5px -5px 20px $color-white, 5px 5px 20px $color-shadow;
}

.invalid {
	border: 2px solid darkred;
}

.link {
	color: dodgerblue;
}

.plink {
	margin-top: 50px;
	font-size: $ruler*.75;
	text-align: center;
}

.valid.modified:not([type=checkbox]) {
	border: 2px groove dodgerblue;
}

.validation-message {
	color: darkred;
}
